<div class="caja-todo">
	<h2>Dale las gracias a:</h2>
	<img class="logo-cf"src="images/codigofacilito.jpg" alt="">

	<h3>Por todo los que nos han dado</h3>
	<div class="caja-cursos">
		<img src="images/html5.png" alt="html5" class="curso">
		<img src="images/css3.png" alt="css3" class="curso">
		<img src="images/android.png" alt="android" class="curso">
		<img src="images/jquery.png" alt="jquery" class="curso">
		<img src="images/python.png" alt="python" class="curso">
		<img src="images/rails.png" alt="rails" class="curso">
		<h4>Y nos seguira dando...</h4>
	</div>

	<%= render 'form' %>

	<div class="mensajes">
		<% @comentarios.each do |comentario| %>

		<ul>
			<li class="correo">- <%= comentario.correo %></li>
			<li class="mensaje">- <%= comentario.mensaje %></li>
		</ul>

		<%end%>
	</div>

</div>
